<!--Extend the base layout from the layout.html file-->
{% extends 'invApp/layout.html' %}

{% block title %}  Home {% endblock %}


{% block content %}
  <div class="jumbotron text-center" >
    <h1 class="display-4">Welcome to the Inventory App</h1>
    <p class="lead">This is a simple inventory management application.</p>
    <hr class="my-4">
    <p>Use the navigation to add, view, update or delete products.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">View Products</a>
  </div>
{% endblock %}

